{% extends "layout.html" %}
{% block main %}
    <div class="container content-section">
        <div class="row">
          <div class="col-lg-3 col-12">
          <img class="rounded-circle account-img" src="{{ img_file }}">
        </div>
          <div class="col-lg-4 col-12 m-1">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
          </div>

        <!-- FORM -->
        <div class="col-lg-4 col-12 pt-2">

          <form action="" method="post", enctype="multipart/form-data" style="size:auto">
              {{ form.hidden_tag() }}
              <div class="form-group mb-2">
                  {% if form.username.errors %}
                      {{ form.username(class="form-control form-control is-invalid")}}
                      <div class="invalid-feedback">
                          {% for error in form.username.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                  {{ form.username(class="form-control form-control", placeholder="Username",autocomplete="off")}}
                  {% endif %}
              </div>
              <div class="form-group mb-2">
                  {% if form.email.errors %}
                  {{ form.email(class="form-control is-invalid")}}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.email(class="form-control", placeholder="Email",autocomplete="off")}}
              {% endif %}
              </div>
              <div class="form-group">
                  {{ form.prof_pic(class="form-control-file m-3 col-lg-auto col-6") }}
                  {% if form.prof_pic.errors %}
                    {% for error in form.prof_pic.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
              </div>
                  {{ form.submit(class="btn btn-info")}}
          </form>
        </div>
      </div>
      </div>
{% endblock %}
