{% extends "layout.html" %}


{% block main %}
<div class="container-fluid">

    <form action="/login" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group mb-2">
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.email(class="form-control", placeholder="Email",autocomplete="off")}}
            {% endif %}
        </div>
        <div class="form-group mb-2">
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control", placeholder="Password") }}
            {% endif %}
        </div>
        <div class="form-group mb-2">
            {{ form.remember_user.label(class="form-check-label")}}
            {{ form.remember_user(class="form-check-input")}}
        </div>
        <div class="form-group mb-2">
            {{ form.submit(class="btn btn-dark", style="background: rgba(0,0,0,0.5)")}}
        </div>
        <small class="text-muted pt-3">
            <a href="#">Forgot Password?</a>
        </small>
        <div class="pt-3">
            <small class="text-muted">
                Need an account? <a href="/register">Register</a>
            </small>
        </div>
        
    </form>

</div>
{% endblock %}