{% extends "layout.html" %}
{% block main %}
<div class="container-fluid">

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <legend class="mb-3">{{ legend }}</legend>
        <div class="form-group mb-2">
            {% if form.title.errors %}
                {{ form.title(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.title(class="form-control", placeholder="Title",autocomplete="off")}}
            {% endif %}
        </div>
        <div class="form-group mb-2">
            {% if form.body.errors %}
                {{ form.body(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.body.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.body(class="form-control", placeholder="Content") }}
            {% endif %}
        </div>
        <div class="form-group mb-2">
            {{ form.submit(class="btn btn-dark", style="background: rgba(0,0,0,0.5)")}}
        </div>        
    </form>

</div>
{% endblock %}
