{% extends "layout.html" %}


{% block main %}
<div class="container-fluid">

    <form action="/register" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group mb-2">
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.username(class="form-control form-control", placeholder="Username",autocomplete="off")}}
            {% endif %}
        </div>
        <div class="form-group mb-2">
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(class="form-control", placeholder="Email",autocomplete="off")}}
        {% endif %}
        </div>
        <div class="form-group mb-2">
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control", placeholder="Password") }}
            {% endif %}
        </div>
        <div class="form-group mb-2">
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password", autocomplete="off")}}
        {% endif %}
        </div>
            {{ form.submit(class="btn btn-info")}}
    </form>

</div>
<div class="pt-3">
    <small class="text-muted">
        Have an account? <a href="/login">Login</a>
    </small>
</div>
{% endblock %}